
<% layout('layouts/boilerplate.ejs') %>

	<form method="POST" action="/rentgrounds/<%=rentground_data._id%>?_method=PUT">
<br>
<br>

		<input class="form-label" type="text" name="title" value="<%=rentground_data.title%>"> <br>
		<input class="form-label" type="text" name="location" value="<%=rentground_data.location%>"><br>
		<input class="form-label" type="text" name="description" value="<%=rentground_data.description%>"><br>
		<input class="form-label" type="text" name="price" value="<%=rentground_data.price%>"><br>
		<input class="form-label" type="text" name="image" value="<%=rentground_data.image%>"><br>
		<img src="<%=rentground_data.image%>">

<br>
<br>
 		<button class="btn btn-primary" >Update</button>

	</form>
